.CtscTeamPage {
    & {
        /* display: flex;
        flex-flow: column; */
        display: grid;
        gap: 10rem;
    }
    /* CTSC team Styles */
    .card {
        /* display: block; */
        align-items: center;
        border: none;
        justify-content: space-between;
        /* width: 100%; */
        margin: 0;
        background-color: #f0f8ff;
    }

    .card>div {
        flex-basis: 50%;
    }

    /* .card>div:first-child {
        min-height: 50%;
    } */

    .card>div:last-child {
        flex: 1;
        /* height: 10rem; */
        /* padding-bottom: 1rem; */
        aspect-ratio: 1;

        img {
            width: 20rem;
        }
    }

    .cards {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .cards>div {
        width: 100%;
        /* background-color: red; */
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* make content equal height */
    }

    .card img {
        /* height: 20em;
    width: 20em; */
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .card p {
        font-size: 0.9em;
    }

    .blockquote {
        font-size: 1.6em;
        font-weight: 500;
    }

    .blockquote-footer {
        font-size: 2em;
        font-weight: 600;
    }

}
