.ibomEventsPage {

    /* ------------------------ IBOM EVENT STYLING ------------------ */
    .grid {
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .flex {
        display: flex;
    }

    .eventpage-card {
        flex-direction: column;
        word-wrap: break-word;
        border-radius: 8px;
        padding: 1rem;
        background-color: #eee;
        background-color: red;
    }

    .ibom-event-bg {
        background-image: url('../../assets/img/ibom-event-bg.jpg');
        min-height: 70vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #fff;
    }

    /* .ibom-event-1 {
    padding-top: 1em;
    background-color: #f7f7f7;
}

.ibom-event-2,
.ibom-event-3 {
    padding-top: 1em;
    background-color: #f7f7f7;
} */

    .ibom-event-card {
        /* display: flex; */
        background-color: #d9d9d9;
        padding: 0;
        /* margin-bottom: 4em; */
        border-bottom-left-radius: 15px;
        box-shadow: 0.1px 0.1px 15px #a7a5a5;

        width: 100% !important;
        height: 100% !important;
    }

    .event-card {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        width: 50%;

        min-width: 100% !important;
        min-height: 100% !important;
    }

    /* HERE */

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .eventpage-card {
        /* flex: 1; */
        margin: 10px;
        /* flex-basis: 31%; */
        max-width: 30rem;
        background-color: #d9d9d9;
        border-bottom-left-radius: 15px;
        box-shadow: 0.1px 0.1px 15px #a7a5a5;
        padding: 0;

        flex: 1 0 30%;
    }

    .eventpage-card-text {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 1em;

        width: 100%;
        height: 100%;
    }

    .eventpage-card-text a {
        align-self: flex-start;
    }

    /* HERE END */

    .eventpage-card .upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-wrap: break-word;
        /* flex-wrap: wrap; */

        h4 {
            flex-basis: 65%;
            max-width: 65%;
        }

        span {
            /* flex-basis: 20%; */
            flex: 1;
        }
    }

    .eventpage-card img {
        width: 100%;
        /* aspect-ratio: 2/1 !important; */
    }

    .ibom-event-btn {
        padding: .3em 1.2em;
    }

    .image-wrapper {
        /* flex-basis: 30%; */
        object-fit: contain;
        object-position: center;
    }


    */ img {
        width: 100%;
        height: 100%;
        /* aspect-ratio: 2/1;
    object-fit: contain; */
    }


    @media screen and (max-width:992px) {

        /* .card {
        flex-direction: column;
        align-items: center;
    } */
        .card {
            flex-basis: 40%;
            max-height: fit-content !important;
        }
    }

    @media (max-width: 767px) {
        .eventpage-card {
            flex-basis: 100%;
            /* Set flex-basis to 100% for mobile devices */
        }

        .eventpage-card .upper {
            flex-direction: column;
            flex-wrap: unset;
            align-items: flex-start;
        }

        .eventpage-card h4 {
            max-width: 100% !important;
        }
    }

    @media screen and (max-width:503px) {

        .eventpage-card .upper {
            flex-direction: column;
        }

        .eventpage-card .upper span {
            margin-top: 0.1em;
            margin-left: 0.6em;
        }

    }
}
