/* PERSONAL GROWTH  */


.section-container {
    padding: 7em 1.7em 8em;

}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    border-radius: 2em;
    padding: 4em 1.3em;
}

.quote p {
    font-size: 1.7em;
}

.translate {
    border-radius: 1em;
    transform: translate(-15%, 0);
}

@media screen and (max-width:992px) {
    .translate {
        transform: translate(-0%, 0);

    }
}

h1 {
    font-size: 5em;
    line-height: 0.5em;
    text-align: left;
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 4em;
    }

}

.growth span {
    font-size: 1.2em;
    border-bottom: 1px solid #202020;
    color: #202220;
    display: inline-block;
    margin-bottom: 1em;
}

.blog-detail span {
    color: #253451a8;
    font-size: 0.9em;
}

.blog-detail h3 {
    color: #253451;
    font-size: 2.5em;
}

.blog-detail p {
    color: #223f79;
    font-size: 1.2em;
}

.blog-img {
    position: relative;
}

.blog-img img {
    display: block;
    /* position: absolute; */
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


@media screen and (width:768px) {
    .blog-img img {
        position: static !important;
    }
}

.read-more {
    color: #223f79;
    border-bottom: 1px solid #223f79;

}

.read-more:hover {
    color: #223f79;

}

.dot {
    margin: 0px 10px 3px;
    height: 5px;
    width: 5px;
    background-color: #253451a8;
    border-radius: 50%;
    display: inline-block;
}
