.ReadersCornerPage {
    /*  --------------------- OUR CULTURE STYLING ----------------- */

    /* body {
        background-color: #d9d9d9 !important;
        background-color: red !important;
    } */

    & {
        background-color: #d9d9d9;
    }

    .ctsc-interviews-bg {
        /* min-height: 70vh; */
        background-image: url('../../assets/img/mkpo-nnyin-bg.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        /* min-height: unset;
        padding: 9rem 0; */
    }

    .mkpo-nnyin-img:hover {
        transform: scale(1.05);
        transition: 0.3s ease-in;
    }

    .center-header h2 {
        font-size: 5em;
    }

    .center-header p {
        display: block;
        font-size: 1.5em;
    }

    .readers-corner-interview-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        /* background-color: blue; */
    }

    .interview-cards-section {
        padding: 5em 0;
    }

    .interview-cards-section .row {
        position: relative;
    }

    .readers-corner-interview-card {
        flex-basis: 49%;
        background-color: #f8f5f5;
        /* flex-basis: 40%; */
        /* background-color: pink; */
        /* padding: 1rem; */

        border-radius: 1rem;

        &:hover {
            background-color: #f8f5f54e;
        }
    }

    .readers-corner-img-container {
        aspect-ratio: 2/1 !important;

        img {
            /* border-radius: 0.5em; */
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
        }
    }

    .text-container {
        padding: 1rem;
    }

    .card-meta-data {
        margin-bottom: 1rem;
    }

    .card-meta-data span:last-child {
        font-style: italic;
    }

    .date {
        margin-right: 3em;
    }

    img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .btn {
        position: relative;
        padding: 0;
        /* display: inline-block; */
    }

    .btn::after {
        content: '';
        position: absolute;
        margin: 0 auto;
        left: 0;
        bottom: -5px;

        /* Adjust this value to control the spacing between the text and the line */
        width: 100%;
        border-bottom: 1px solid black;

        left: 50%;
        transform: translate(-50%, -50%);
    }

    .anonymous-section {
        border-block: 1px solid #000;
        text-align: center;
        margin-block: 1rem;
        padding-block: 1rem;
    }

}
